@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 27px;
}



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    background-color: rgb(237, 237, 237);
}

/* .logo {
    flex: auto;
} */

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    list-style-type: none;
}

.header-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 100%;
    min-height: 325px;
    z-index: -1;
    object-fit: cover;
}

.header-text-wrapper {
    text-align: center;
    position: absolute;
    padding: 0 19px;
}

section:nth-of-type(2n) {
    background-color: rgb(237, 237, 237);
}



.section1 {
    text-align: center;
    padding: 19px;
}

.section1 img {
    width: 100%;
}



.section2 {
    text-align: center;
    padding: 19px 14px;
}

.section2 > .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section2 img {
    margin: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}



.section3 {
    padding: 19px;
}

.section3 .image-wrapper {
    display: grid;
    grid-template: 
        "image1 image2" auto
        "image3 image3" 1fr /
        1fr 1fr;
        gap: 10px;
}

.section3 img {
    width: 100%;
}

.section3 .item3 {
    grid-area: image3;
}

.section3 .item4 {
    display: none;
}



.section4 .grid {
    display: grid;
    grid-template: repeat(2, auto) / 1fr;
}

.section4 .item1 {
    padding: 19px;
}

.section4 .item2 {
    width: 100%;
}



.section5 {
    text-align: center;
    padding: 19px;
}

.section5 .item2, .section5 .item3, .section5 .item4, .section5 .item5 {
    display: none;
}

.section5 > .grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.section5 .item1 {
    grid-area: 2 / 1 / 3 / 3;
    order: 1;
    /* margin: -25% 5%;
    padding: 5vw; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
.section5 .item7 {
    grid-area: 1 / 3 / 2 / 4;
}

.section5 .item8 {
    grid-area: 3 / 1 / 4 / 2;
}

.section5 .item9 {
    grid-area: 3 / 3 / 4 / 4;
}
*/
.section5 img {
    width: 100%;
}

@media (min-width: 786px) {

    nav {
        flex-direction: row;
        justify-content: flex-end;
        height: 75px;
    }

    .logo {
        flex-grow: 1;
    }

    .section1 > article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1 img {
        width: 50%;
    }

    .section1 > article:nth-child(even) {
        flex-direction: row-reverse;
    }

    .section2 img {
        width: 165px;
        height: 165px;
    }

    .section3 > article {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section3 .text-wrapper {
        width: 45%;
    }

    .section3 .image-wrapper {
        grid-template: 
            "image1 image2 image4" auto
            "image3 image3 image4" auto / 
            1fr 1fr 1fr;
            flex-basis: 45%;
    }

    .section3 .item4 {
        display: unset;
        grid-area: image4;
        height: 100%;
        object-fit: cover;
    }

    .section4 > .grid {
        grid-template: 1fr / 1fr 1fr;
    }

    .section4 .item1 {
        align-self: center;
        padding: 8vw;
    }

    .section4 .item2 {
        order: -1;
    }

    .section5 > .grid {
        grid-template:
            "image1 image2 art image3 image4" 1fr
            "image1 image5 art image6 image4" 1fr
            "image7 image5 art image6 image8" 1fr /
            1fr 1fr 2fr 1fr 1fr;
    }

    .section5 .item2, .section5 .item3, .section5 .item4, .section5 .item5 {
        display: unset;
    }

    .section5 .item1 {
        grid-area: art;
    }

    .section5 .item2 {
        grid-area: image1;
    }

    .section5 .item3 {
        grid-area: image5;
    }

    .section5 .item4 {
        grid-area: image6;
    }

    .section5 .item5 {
        grid-area: image4;
    }

    .section5 .box {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}