@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin removeMarginAndPadding() {
    margin: 0;
    padding: 0;
}

@mixin media-min-width($minWidth) {
    @media (min-width: $minWidth) {
        @content;
    }
}