$section-background-even: #394951;
$mainFontFamily: "Poppins", sans-serif;
$general-paragraph-fontsize-s: 14px;
$general-paragraph-fontsize-l: 16px;

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin removeMarginAndPadding() {
    margin: 0;
    padding: 0;
}

@mixin media-min-width($minWidth) {
    @media (min-width: $minWidth) {
        @content;
    }
}

@mixin general-grid($template) {
    display: grid;
    grid-template: $template;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

%general-grid-image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

%general-grid-image-holder {
    position: relative;
    height: 100%;
    width: 100%;
}

%general-h-properties {
    color: #9d5c5f;
    font-weight: bold;
}