.upper-nav {
    @include flexCenter(column);
    height: 100px;
    background-color: $section-background-even;
    padding: 0 20px;
    .menu {
        @include removeMarginAndPadding();
    }
    .menu__item {
        display: inline-block;
        list-style-type: none;
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 5px;
    }
    .navbar-logo {
        font-family: 'Unica One', sans-serif;
        font-size: 26px;
        color: #ff8673;
        margin: 5px;
    }
    @include media-min-width(768px) {
        flex-direction: row;
        justify-content: flex-end;
        height: 75px;
        .menu__item {
            font-size: $general-paragraph-fontsize-l;
        }
        .navbar-logo {
            flex: auto;
        }
        
    }
}

.bottom-nav {
    @extend .upper-nav;
    height: 150px;
    .footer-logo {
        font-family: 'Unica One', sans-serif;
        font-size: 26px;
        color: #ff8673;
        margin: 5px;
    }
    @include media-min-width(768px) {
        @include flexCenter(column);
        height: 250px;
    }
}